<a href="https://colab.research.google.com/github/mynkbtp/play_field2/blob/master/sql_string_entry_in_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from itertools import product

In [0]:
dict1={"1":['B','C','D'],"2":['E','F','G'],"3":['H','I','J'],"4":['K','L','M']}

In [0]:
dict1["3"]

['H', 'I', 'J']

In [0]:
dict_combination=list(product(dict1["1"],dict1["2"],dict1["3"],dict1["4"]))

In [0]:
dict_combination[1]

('B', 'E', 'H', 'L')

In [0]:
str_list=[]
for i in range(len(dict_combination)):
  str_list.append(dict_combination[i])

In [0]:
str_list

[('B', 'E', 'H', 'K'),
 ('B', 'E', 'H', 'L'),
 ('B', 'E', 'H', 'M'),
 ('B', 'E', 'I', 'K'),
 ('B', 'E', 'I', 'L'),
 ('B', 'E', 'I', 'M'),
 ('B', 'E', 'J', 'K'),
 ('B', 'E', 'J', 'L'),
 ('B', 'E', 'J', 'M'),
 ('B', 'F', 'H', 'K'),
 ('B', 'F', 'H', 'L'),
 ('B', 'F', 'H', 'M'),
 ('B', 'F', 'I', 'K'),
 ('B', 'F', 'I', 'L'),
 ('B', 'F', 'I', 'M'),
 ('B', 'F', 'J', 'K'),
 ('B', 'F', 'J', 'L'),
 ('B', 'F', 'J', 'M'),
 ('B', 'G', 'H', 'K'),
 ('B', 'G', 'H', 'L'),
 ('B', 'G', 'H', 'M'),
 ('B', 'G', 'I', 'K'),
 ('B', 'G', 'I', 'L'),
 ('B', 'G', 'I', 'M'),
 ('B', 'G', 'J', 'K'),
 ('B', 'G', 'J', 'L'),
 ('B', 'G', 'J', 'M'),
 ('C', 'E', 'H', 'K'),
 ('C', 'E', 'H', 'L'),
 ('C', 'E', 'H', 'M'),
 ('C', 'E', 'I', 'K'),
 ('C', 'E', 'I', 'L'),
 ('C', 'E', 'I', 'M'),
 ('C', 'E', 'J', 'K'),
 ('C', 'E', 'J', 'L'),
 ('C', 'E', 'J', 'M'),
 ('C', 'F', 'H', 'K'),
 ('C', 'F', 'H', 'L'),
 ('C', 'F', 'H', 'M'),
 ('C', 'F', 'I', 'K'),
 ('C', 'F', 'I', 'L'),
 ('C', 'F', 'I', 'M'),
 ('C', 'F', 'J', 'K'),
 ('C', 'F', 'J', 'L'),
 ('C', 'F', 'J', 'M'),
 ('C', 'G', 'H', 'K'),
 ('C', 'G', 'H', 'L'),
 ('C', 'G', 'H', 'M'),
 ('C', 'G', 'I', 'K'),
 ('C', 'G', 'I', 'L'),
 ('C', 'G', 'I', 'M'),
 ('C', 'G', 'J', 'K'),
 ('C', 'G', 'J', 'L'),
 ('C', 'G', 'J', 'M'),
 ('D', 'E', 'H', 'K'),
 ('D', 'E', 'H', 'L'),
 ('D', 'E', 'H', 'M'),
 ('D', 'E', 'I', 'K'),
 ('D', 'E', 'I', 'L'),
 ('D', 'E', 'I', 'M'),
 ('D', 'E', 'J', 'K'),
 ('D', 'E', 'J', 'L'),
 ('D', 'E', 'J', 'M'),
 ('D', 'F', 'H', 'K'),
 ('D', 'F', 'H', 'L'),
 ('D', 'F', 'H', 'M'),
 ('D', 'F', 'I', 'K'),
 ('D', 'F', 'I', 'L'),
 ('D', 'F', 'I', 'M'),
 ('D', 'F', 'J', 'K'),
 ('D', 'F', 'J', 'L'),
 ('D', 'F', 'J', 'M'),
 ('D', 'G', 'H', 'K'),
 ('D', 'G', 'H', 'L'),
 ('D', 'G', 'H', 'M'),
 ('D', 'G', 'I', 'K'),
 ('D', 'G', 'I', 'L'),
 ('D', 'G', 'I', 'M'),
 ('D', 'G', 'J', 'K'),
 ('D', 'G', 'J', 'L'),
 ('D', 'G', 'J', 'M')]

In [0]:
for i in range(len(str_list)):
  print("select {} from table".format(str_list[i]))

select ('B', 'E', 'H', 'K') from table
select ('B', 'E', 'H', 'L') from table
select ('B', 'E', 'H', 'M') from table
select ('B', 'E', 'I', 'K') from table
select ('B', 'E', 'I', 'L') from table
select ('B', 'E', 'I', 'M') from table
select ('B', 'E', 'J', 'K') from table
select ('B', 'E', 'J', 'L') from table
select ('B', 'E', 'J', 'M') from table
select ('B', 'F', 'H', 'K') from table
select ('B', 'F', 'H', 'L') from table
select ('B', 'F', 'H', 'M') from table
select ('B', 'F', 'I', 'K') from table
select ('B', 'F', 'I', 'L') from table
select ('B', 'F', 'I', 'M') from table
select ('B', 'F', 'J', 'K') from table
select ('B', 'F', 'J', 'L') from table
select ('B', 'F', 'J', 'M') from table
select ('B', 'G', 'H', 'K') from table
select ('B', 'G', 'H', 'L') from table
select ('B', 'G', 'H', 'M') from table
select ('B', 'G', 'I', 'K') from table
select ('B', 'G', 'I', 'L') from table
select ('B', 'G', 'I', 'M') from table
select ('B', 'G', 'J', 'K') from table
select ('B', 'G', 'J', 'L') from table
select ('B', 'G', 'J', 'M') from table
select ('C', 'E', 'H', 'K') from table
select ('C', 'E', 'H', 'L') from table
select ('C', 'E', 'H', 'M') from table
select ('C', 'E', 'I', 'K') from table
select ('C', 'E', 'I', 'L') from table
select ('C', 'E', 'I', 'M') from table
select ('C', 'E', 'J', 'K') from table
select ('C', 'E', 'J', 'L') from table
select ('C', 'E', 'J', 'M') from table
select ('C', 'F', 'H', 'K') from table
select ('C', 'F', 'H', 'L') from table
select ('C', 'F', 'H', 'M') from table
select ('C', 'F', 'I', 'K') from table
select ('C', 'F', 'I', 'L') from table
select ('C', 'F', 'I', 'M') from table
select ('C', 'F', 'J', 'K') from table
select ('C', 'F', 'J', 'L') from table
select ('C', 'F', 'J', 'M') from table
select ('C', 'G', 'H', 'K') from table
select ('C', 'G', 'H', 'L') from table
select ('C', 'G', 'H', 'M') from table
select ('C', 'G', 'I', 'K') from table
select ('C', 'G', 'I', 'L') from table
select ('C', 'G', 'I', 'M') from table
select ('C', 'G', 'J', 'K') from table
select ('C', 'G', 'J', 'L') from table
select ('C', 'G', 'J', 'M') from table
select ('D', 'E', 'H', 'K') from table
select ('D', 'E', 'H', 'L') from table
select ('D', 'E', 'H', 'M') from table
select ('D', 'E', 'I', 'K') from table
select ('D', 'E', 'I', 'L') from table
select ('D', 'E', 'I', 'M') from table
select ('D', 'E', 'J', 'K') from table
select ('D', 'E', 'J', 'L') from table
select ('D', 'E', 'J', 'M') from table
select ('D', 'F', 'H', 'K') from table
select ('D', 'F', 'H', 'L') from table
select ('D', 'F', 'H', 'M') from table
select ('D', 'F', 'I', 'K') from table
select ('D', 'F', 'I', 'L') from table
select ('D', 'F', 'I', 'M') from table
select ('D', 'F', 'J', 'K') from table
select ('D', 'F', 'J', 'L') from table
select ('D', 'F', 'J', 'M') from table
select ('D', 'G', 'H', 'K') from table
select ('D', 'G', 'H', 'L') from table
select ('D', 'G', 'H', 'M') from table
select ('D', 'G', 'I', 'K') from table
select ('D', 'G', 'I', 'L') from table
select ('D', 'G', 'I', 'M') from table
select ('D', 'G', 'J', 'K') from table
select ('D', 'G', 'J', 'L') from table
select ('D', 'G', 'J', 'M') from table

In [0]:
list(str_list[3])

['B', 'E', 'I', 'K']

In [0]:
final_str_list=[[]]
for i in range(len(str_list)):
  final_str_list.append(list(str_list[i]))

In [0]:
final_str_list=final_str_list[1:len(final_str_list)][:]

In [0]:
final_str_list

[['B', 'E', 'H', 'K'],
 ['B', 'E', 'H', 'L'],
 ['B', 'E', 'H', 'M'],
 ['B', 'E', 'I', 'K'],
 ['B', 'E', 'I', 'L'],
 ['B', 'E', 'I', 'M'],
 ['B', 'E', 'J', 'K'],
 ['B', 'E', 'J', 'L'],
 ['B', 'E', 'J', 'M'],
 ['B', 'F', 'H', 'K'],
 ['B', 'F', 'H', 'L'],
 ['B', 'F', 'H', 'M'],
 ['B', 'F', 'I', 'K'],
 ['B', 'F', 'I', 'L'],
 ['B', 'F', 'I', 'M'],
 ['B', 'F', 'J', 'K'],
 ['B', 'F', 'J', 'L'],
 ['B', 'F', 'J', 'M'],
 ['B', 'G', 'H', 'K'],
 ['B', 'G', 'H', 'L'],
 ['B', 'G', 'H', 'M'],
 ['B', 'G', 'I', 'K'],
 ['B', 'G', 'I', 'L'],
 ['B', 'G', 'I', 'M'],
 ['B', 'G', 'J', 'K'],
 ['B', 'G', 'J', 'L'],
 ['B', 'G', 'J', 'M'],
 ['C', 'E', 'H', 'K'],
 ['C', 'E', 'H', 'L'],
 ['C', 'E', 'H', 'M'],
 ['C', 'E', 'I', 'K'],
 ['C', 'E', 'I', 'L'],
 ['C', 'E', 'I', 'M'],
 ['C', 'E', 'J', 'K'],
 ['C', 'E', 'J', 'L'],
 ['C', 'E', 'J', 'M'],
 ['C', 'F', 'H', 'K'],
 ['C', 'F', 'H', 'L'],
 ['C', 'F', 'H', 'M'],
 ['C', 'F', 'I', 'K'],
 ['C', 'F', 'I', 'L'],
 ['C', 'F', 'I', 'M'],
 ['C', 'F', 'J', 'K'],
 ['C', 'F', 'J', 'L'],
 ['C', 'F', 'J', 'M'],
 ['C', 'G', 'H', 'K'],
 ['C', 'G', 'H', 'L'],
 ['C', 'G', 'H', 'M'],
 ['C', 'G', 'I', 'K'],
 ['C', 'G', 'I', 'L'],
 ['C', 'G', 'I', 'M'],
 ['C', 'G', 'J', 'K'],
 ['C', 'G', 'J', 'L'],
 ['C', 'G', 'J', 'M'],
 ['D', 'E', 'H', 'K'],
 ['D', 'E', 'H', 'L'],
 ['D', 'E', 'H', 'M'],
 ['D', 'E', 'I', 'K'],
 ['D', 'E', 'I', 'L'],
 ['D', 'E', 'I', 'M'],
 ['D', 'E', 'J', 'K'],
 ['D', 'E', 'J', 'L'],
 ['D', 'E', 'J', 'M'],
 ['D', 'F', 'H', 'K'],
 ['D', 'F', 'H', 'L'],
 ['D', 'F', 'H', 'M'],
 ['D', 'F', 'I', 'K'],
 ['D', 'F', 'I', 'L'],
 ['D', 'F', 'I', 'M'],
 ['D', 'F', 'J', 'K'],
 ['D', 'F', 'J', 'L'],
 ['D', 'F', 'J', 'M'],
 ['D', 'G', 'H', 'K'],
 ['D', 'G', 'H', 'L'],
 ['D', 'G', 'H', 'M'],
 ['D', 'G', 'I', 'K'],
 ['D', 'G', 'I', 'L'],
 ['D', 'G', 'I', 'M'],
 ['D', 'G', 'J', 'K'],
 ['D', 'G', 'J', 'L'],
 ['D', 'G', 'J', 'M']]

In [105]:
df_list=[]
for i in range(len(final_str_list)):
  df_list.append(final_str_list[i])
df_list

[['B', 'E', 'H', 'K'],
 ['B', 'E', 'H', 'L'],
 ['B', 'E', 'H', 'M'],
 ['B', 'E', 'I', 'K'],
 ['B', 'E', 'I', 'L'],
 ['B', 'E', 'I', 'M'],
 ['B', 'E', 'J', 'K'],
 ['B', 'E', 'J', 'L'],
 ['B', 'E', 'J', 'M'],
 ['B', 'F', 'H', 'K'],
 ['B', 'F', 'H', 'L'],
 ['B', 'F', 'H', 'M'],
 ['B', 'F', 'I', 'K'],
 ['B', 'F', 'I', 'L'],
 ['B', 'F', 'I', 'M'],
 ['B', 'F', 'J', 'K'],
 ['B', 'F', 'J', 'L'],
 ['B', 'F', 'J', 'M'],
 ['B', 'G', 'H', 'K'],
 ['B', 'G', 'H', 'L'],
 ['B', 'G', 'H', 'M'],
 ['B', 'G', 'I', 'K'],
 ['B', 'G', 'I', 'L'],
 ['B', 'G', 'I', 'M'],
 ['B', 'G', 'J', 'K'],
 ['B', 'G', 'J', 'L'],
 ['B', 'G', 'J', 'M'],
 ['C', 'E', 'H', 'K'],
 ['C', 'E', 'H', 'L'],
 ['C', 'E', 'H', 'M'],
 ['C', 'E', 'I', 'K'],
 ['C', 'E', 'I', 'L'],
 ['C', 'E', 'I', 'M'],
 ['C', 'E', 'J', 'K'],
 ['C', 'E', 'J', 'L'],
 ['C', 'E', 'J', 'M'],
 ['C', 'F', 'H', 'K'],
 ['C', 'F', 'H', 'L'],
 ['C', 'F', 'H', 'M'],
 ['C', 'F', 'I', 'K'],
 ['C', 'F', 'I', 'L'],
 ['C', 'F', 'I', 'M'],
 ['C', 'F', 'J', 'K'],
 ['C', 'F', 'J', 'L'],
 ['C', 'F', 'J', 'M'],
 ['C', 'G', 'H', 'K'],
 ['C', 'G', 'H', 'L'],
 ['C', 'G', 'H', 'M'],
 ['C', 'G', 'I', 'K'],
 ['C', 'G', 'I', 'L'],
 ['C', 'G', 'I', 'M'],
 ['C', 'G', 'J', 'K'],
 ['C', 'G', 'J', 'L'],
 ['C', 'G', 'J', 'M'],
 ['D', 'E', 'H', 'K'],
 ['D', 'E', 'H', 'L'],
 ['D', 'E', 'H', 'M'],
 ['D', 'E', 'I', 'K'],
 ['D', 'E', 'I', 'L'],
 ['D', 'E', 'I', 'M'],
 ['D', 'E', 'J', 'K'],
 ['D', 'E', 'J', 'L'],
 ['D', 'E', 'J', 'M'],
 ['D', 'F', 'H', 'K'],
 ['D', 'F', 'H', 'L'],
 ['D', 'F', 'H', 'M'],
 ['D', 'F', 'I', 'K'],
 ['D', 'F', 'I', 'L'],
 ['D', 'F', 'I', 'M'],
 ['D', 'F', 'J', 'K'],
 ['D', 'F', 'J', 'L'],
 ['D', 'F', 'J', 'M'],
 ['D', 'G', 'H', 'K'],
 ['D', 'G', 'H', 'L'],
 ['D', 'G', 'H', 'M'],
 ['D', 'G', 'I', 'K'],
 ['D', 'G', 'I', 'L'],
 ['D', 'G', 'I', 'M'],
 ['D', 'G', 'J', 'K'],
 ['D', 'G', 'J', 'L'],
 ['D', 'G', 'J', 'M']]

In [106]:
len(df_list)

81

In [108]:
df_list[2]

['B', 'E', 'H', 'M']

In [0]:
str=[]
m=0
n=4
for i in range(len(final_str_list)):
 
  str.append("select {} from the table".format(df_list[i]))

In [110]:
str

["select ['B', 'E', 'H', 'K'] from the table",
 "select ['B', 'E', 'H', 'L'] from the table",
 "select ['B', 'E', 'H', 'M'] from the table",
 "select ['B', 'E', 'I', 'K'] from the table",
 "select ['B', 'E', 'I', 'L'] from the table",
 "select ['B', 'E', 'I', 'M'] from the table",
 "select ['B', 'E', 'J', 'K'] from the table",
 "select ['B', 'E', 'J', 'L'] from the table",
 "select ['B', 'E', 'J', 'M'] from the table",
 "select ['B', 'F', 'H', 'K'] from the table",
 "select ['B', 'F', 'H', 'L'] from the table",
 "select ['B', 'F', 'H', 'M'] from the table",
 "select ['B', 'F', 'I', 'K'] from the table",
 "select ['B', 'F', 'I', 'L'] from the table",
 "select ['B', 'F', 'I', 'M'] from the table",
 "select ['B', 'F', 'J', 'K'] from the table",
 "select ['B', 'F', 'J', 'L'] from the table",
 "select ['B', 'F', 'J', 'M'] from the table",
 "select ['B', 'G', 'H', 'K'] from the table",
 "select ['B', 'G', 'H', 'L'] from the table",
 "select ['B', 'G', 'H', 'M'] from the table",
 "select ['B', 'G', 'I', 'K'] from the table",
 "select ['B', 'G', 'I', 'L'] from the table",
 "select ['B', 'G', 'I', 'M'] from the table",
 "select ['B', 'G', 'J', 'K'] from the table",
 "select ['B', 'G', 'J', 'L'] from the table",
 "select ['B', 'G', 'J', 'M'] from the table",
 "select ['C', 'E', 'H', 'K'] from the table",
 "select ['C', 'E', 'H', 'L'] from the table",
 "select ['C', 'E', 'H', 'M'] from the table",
 "select ['C', 'E', 'I', 'K'] from the table",
 "select ['C', 'E', 'I', 'L'] from the table",
 "select ['C', 'E', 'I', 'M'] from the table",
 "select ['C', 'E', 'J', 'K'] from the table",
 "select ['C', 'E', 'J', 'L'] from the table",
 "select ['C', 'E', 'J', 'M'] from the table",
 "select ['C', 'F', 'H', 'K'] from the table",
 "select ['C', 'F', 'H', 'L'] from the table",
 "select ['C', 'F', 'H', 'M'] from the table",
 "select ['C', 'F', 'I', 'K'] from the table",
 "select ['C', 'F', 'I', 'L'] from the table",
 "select ['C', 'F', 'I', 'M'] from the table",
 "select ['C', 'F', 'J', 'K'] from the table",
 "select ['C', 'F', 'J', 'L'] from the table",
 "select ['C', 'F', 'J', 'M'] from the table",
 "select ['C', 'G', 'H', 'K'] from the table",
 "select ['C', 'G', 'H', 'L'] from the table",
 "select ['C', 'G', 'H', 'M'] from the table",
 "select ['C', 'G', 'I', 'K'] from the table",
 "select ['C', 'G', 'I', 'L'] from the table",
 "select ['C', 'G', 'I', 'M'] from the table",
 "select ['C', 'G', 'J', 'K'] from the table",
 "select ['C', 'G', 'J', 'L'] from the table",
 "select ['C', 'G', 'J', 'M'] from the table",
 "select ['D', 'E', 'H', 'K'] from the table",
 "select ['D', 'E', 'H', 'L'] from the table",
 "select ['D', 'E', 'H', 'M'] from the table",
 "select ['D', 'E', 'I', 'K'] from the table",
 "select ['D', 'E', 'I', 'L'] from the table",
 "select ['D', 'E', 'I', 'M'] from the table",
 "select ['D', 'E', 'J', 'K'] from the table",
 "select ['D', 'E', 'J', 'L'] from the table",
 "select ['D', 'E', 'J', 'M'] from the table",
 "select ['D', 'F', 'H', 'K'] from the table",
 "select ['D', 'F', 'H', 'L'] from the table",
 "select ['D', 'F', 'H', 'M'] from the table",
 "select ['D', 'F', 'I', 'K'] from the table",
 "select ['D', 'F', 'I', 'L'] from the table",
 "select ['D', 'F', 'I', 'M'] from the table",
 "select ['D', 'F', 'J', 'K'] from the table",
 "select ['D', 'F', 'J', 'L'] from the table",
 "select ['D', 'F', 'J', 'M'] from the table",
 "select ['D', 'G', 'H', 'K'] from the table",
 "select ['D', 'G', 'H', 'L'] from the table",
 "select ['D', 'G', 'H', 'M'] from the table",
 "select ['D', 'G', 'I', 'K'] from the table",
 "select ['D', 'G', 'I', 'L'] from the table",
 "select ['D', 'G', 'I', 'M'] from the table",
 "select ['D', 'G', 'J', 'K'] from the table",
 "select ['D', 'G', 'J', 'L'] from the table",
 "select ['D', 'G', 'J', 'M'] from the table"]

In [0]:
import pandas as pd
df=pd.DataFrame()
df["Entry"]=str

In [120]:
df

                                         Entry
0   select ['B', 'E', 'H', 'K'] from the table
1   select ['B', 'E', 'H', 'L'] from the table
2   select ['B', 'E', 'H', 'M'] from the table
3   select ['B', 'E', 'I', 'K'] from the table
4   select ['B', 'E', 'I', 'L'] from the table
5   select ['B', 'E', 'I', 'M'] from the table
6   select ['B', 'E', 'J', 'K'] from the table
7   select ['B', 'E', 'J', 'L'] from the table
8   select ['B', 'E', 'J', 'M'] from the table
9   select ['B', 'F', 'H', 'K'] from the table
10  select ['B', 'F', 'H', 'L'] from the table
11  select ['B', 'F', 'H', 'M'] from the table
12  select ['B', 'F', 'I', 'K'] from the table
13  select ['B', 'F', 'I', 'L'] from the table
14  select ['B', 'F', 'I', 'M'] from the table
15  select ['B', 'F', 'J', 'K'] from the table
16  select ['B', 'F', 'J', 'L'] from the table
17  select ['B', 'F', 'J', 'M'] from the table
18  select ['B', 'G', 'H', 'K'] from the table
19  select ['B', 'G', 'H', 'L'] from the table
20  select ['B', 'G', 'H', 'M'] from the table
21  select ['B', 'G', 'I', 'K'] from the table
22  select ['B', 'G', 'I', 'L'] from the table
23  select ['B', 'G', 'I', 'M'] from the table
24  select ['B', 'G', 'J', 'K'] from the table
25  select ['B', 'G', 'J', 'L'] from the table
26  select ['B', 'G', 'J', 'M'] from the table
27  select ['C', 'E', 'H', 'K'] from the table
28  select ['C', 'E', 'H', 'L'] from the table
29  select ['C', 'E', 'H', 'M'] from the table
..                                         ...
51  select ['C', 'G', 'J', 'K'] from the table
52  select ['C', 'G', 'J', 'L'] from the table
53  select ['C', 'G', 'J', 'M'] from the table
54  select ['D', 'E', 'H', 'K'] from the table
55  select ['D', 'E', 'H', 'L'] from the table
56  select ['D', 'E', 'H', 'M'] from the table
57  select ['D', 'E', 'I', 'K'] from the table
58  select ['D', 'E', 'I', 'L'] from the table
59  select ['D', 'E', 'I', 'M'] from the table
60  select ['D', 'E', 'J', 'K'] from the table
61  select ['D', 'E', 'J', 'L'] from the table
62  select ['D', 'E', 'J', 'M'] from the table
63  select ['D', 'F', 'H', 'K'] from the table
64  select ['D', 'F', 'H', 'L'] from the table
65  select ['D', 'F', 'H', 'M'] from the table
66  select ['D', 'F', 'I', 'K'] from the table
67  select ['D', 'F', 'I', 'L'] from the table
68  select ['D', 'F', 'I', 'M'] from the table
69  select ['D', 'F', 'J', 'K'] from the table
70  select ['D', 'F', 'J', 'L'] from the table
71  select ['D', 'F', 'J', 'M'] from the table
72  select ['D', 'G', 'H', 'K'] from the table
73  select ['D', 'G', 'H', 'L'] from the table
74  select ['D', 'G', 'H', 'M'] from the table
75  select ['D', 'G', 'I', 'K'] from the table
76  select ['D', 'G', 'I', 'L'] from the table
77  select ['D', 'G', 'I', 'M'] from the table
78  select ['D', 'G', 'J', 'K'] from the table
79  select ['D', 'G', 'J', 'L'] from the table
80  select ['D', 'G', 'J', 'M'] from the table

[81 rows x 1 columns]

In [113]:
df.shape[0]

81

In [0]:
bad=['[',']',"'"]

for i in range(df.shape[0]):

 for j in bad:
  df["Entry"][i]=df["Entry"][i].replace(j,' ')

In [124]:
df["Entry"]

0     select   B ,  E ,  H ,  K   from the table
1     select   B ,  E ,  H ,  L   from the table
2     select   B ,  E ,  H ,  M   from the table
3     select   B ,  E ,  I ,  K   from the table
4     select   B ,  E ,  I ,  L   from the table
5     select   B ,  E ,  I ,  M   from the table
6     select   B ,  E ,  J ,  K   from the table
7     select   B ,  E ,  J ,  L   from the table
8     select   B ,  E ,  J ,  M   from the table
9     select   B ,  F ,  H ,  K   from the table
10    select   B ,  F ,  H ,  L   from the table
11    select   B ,  F ,  H ,  M   from the table
12    select   B ,  F ,  I ,  K   from the table
13    select   B ,  F ,  I ,  L   from the table
14    select   B ,  F ,  I ,  M   from the table
15    select   B ,  F ,  J ,  K   from the table
16    select   B ,  F ,  J ,  L   from the table
17    select   B ,  F ,  J ,  M   from the table
18    select   B ,  G ,  H ,  K   from the table
19    select   B ,  G ,  H ,  L   from the table
20    select   B ,  G ,  H ,  M   from the table
21    select   B ,  G ,  I ,  K   from the table
22    select   B ,  G ,  I ,  L   from the table
23    select   B ,  G ,  I ,  M   from the table
24    select   B ,  G ,  J ,  K   from the table
25    select   B ,  G ,  J ,  L   from the table
26    select   B ,  G ,  J ,  M   from the table
27    select   C ,  E ,  H ,  K   from the table
28    select   C ,  E ,  H ,  L   from the table
29    select   C ,  E ,  H ,  M   from the table
                         ...
51    select   C ,  G ,  J ,  K   from the table
52    select   C ,  G ,  J ,  L   from the table
53    select   C ,  G ,  J ,  M   from the table
54    select   D ,  E ,  H ,  K   from the table
55    select   D ,  E ,  H ,  L   from the table
56    select   D ,  E ,  H ,  M   from the table
57    select   D ,  E ,  I ,  K   from the table
58    select   D ,  E ,  I ,  L   from the table
59    select   D ,  E ,  I ,  M   from the table
60    select   D ,  E ,  J ,  K   from the table
61    select   D ,  E ,  J ,  L   from the table
62    select   D ,  E ,  J ,  M   from the table
63    select   D ,  F ,  H ,  K   from the table
64    select   D ,  F ,  H ,  L   from the table
65    select   D ,  F ,  H ,  M   from the table
66    select   D ,  F ,  I ,  K   from the table
67    select   D ,  F ,  I ,  L   from the table
68    select   D ,  F ,  I ,  M   from the table
69    select   D ,  F ,  J ,  K   from the table
70    select   D ,  F ,  J ,  L   from the table
71    select   D ,  F ,  J ,  M   from the table
72    select   D ,  G ,  H ,  K   from the table
73    select   D ,  G ,  H ,  L   from the table
74    select   D ,  G ,  H ,  M   from the table
75    select   D ,  G ,  I ,  K   from the table
76    select   D ,  G ,  I ,  L   from the table
77    select   D ,  G ,  I ,  M   from the table
78    select   D ,  G ,  J ,  K   from the table
79    select   D ,  G ,  J ,  L   from the table
80    select   D ,  G ,  J ,  M   from the table
Name: Entry, Length: 81, dtype: object